@import "../../global.scss";

.contact {
  background: linear-gradient(45deg, $mainColorThree 50%, $mainColorTwo 50% );
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 64px;
      padding-top: 26%;
      padding-left:12%;
      color: $mainColor;

      @include mobile{
        text-align: center;
        padding-left:0px;
        padding-top: 12%;
        font-size: 32px;
      }
    }
    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      padding-top: 20px;
      padding-left:12%;
      color: $mainColor;

    @include mobile{
      text-align: center;
      padding-left:0px;
      font-size: 24px;
    }
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    padding-top: 56px;
    padding-left:12%;
    color: $mainColor;

    @include mobile{
      text-align: center;
      padding-left:0px;
      padding-top: 40px;
      font-size: 18px;
    }
  }
}

  
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
      color: $mainColor;

      @include mobile{
        text-align: center;
        padding-left:0px;
        font-size: 24px;
      }
  }

    form {
      width: 70%;
      height: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 286px;
        height: 30px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-left:4px;

        @include mobile {
          margin-bottom: 1%;
          margin-left: 0px;
          width: 170px;
          height: 20px;
          padding:12px;
        }
      }

      textarea {
        width: 286px;
        height: 200px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        @include mobile {
          margin-left: 0px;
          width: 188px;
          height: 150px;
          margin-top:8px;
          margin-bottom:8px;
        }
      }

      button {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: $mainColor;
        border: solid $mainColor 3px;
        border-radius: 8px;
        width:35%;
        background-color: $mainColorThree;
        text-align: center;
        @include mobile{
          width:128px;
          height:78px;
          }
          &:focus {
            opacity: 0.1;
          }
          &:hover {
            background-color: $mainColorTwo;
          }
      }
      span {
        color: $mainColor;
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        height:156px;

        @include mobile {
          height:256px;
        }
      }
    }
  }
}