@import "../../global.scss";

.portfolioList {
  overflow-x: scroll;
  font-size: 32px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;

  @include mobile{
    margin-right: 10px;
    margin-left:10px;
    font-size: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: $mainColorThree;
    border: solid $mainColor 3px;
		border-radius: 5rem;
  }
}