@import "../../global.scss";

.portfolio-modal {
  border: solid $mainColor 3px;
  border-radius: 8px;
  height:70%;
  width:70%;
  position: fixed;
  top: 15%;
  left: 15%;
  background-color: $mainColorThree;
  opacity: 1;
  z-index: 100;

  @include mobile{
    top: 15%;
    left: 10%;
    height:70%;
    width:80%;

  }
}

.btn{
  background-color: transparent;
  float: right;
  margin: 5px;
  border:none;
  color: $mainColor;
  margin-right:8px;
}

.portfolio-content {
  margin-top:40px;
}

.title{
  color: $mainColor;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;

}

.image {
  border: solid $mainColor 3px;
  border-radius: 8px;
  margin-top:12px;
  margin-bottom:12px;
  margin-left: 10%;
  width: 80%;
  height: 20rem;
  object-fit: cover;
  z-index: 1;
  @include mobile{
    height: 8rem;
  
    }
}

.description {
  text-align: center;
  margin:8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: $mainColor;
}

.keyFeatures {
  text-decoration: underline;
  text-align: center;
  margin:8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $mainColor;
}
.feature {
  text-align: center;
  margin:8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $mainColor;
  border: solid $mainColor 2px;
  border-radius: 8px;
  width:80%;
  margin-left:10%;
}

.languages {
  text-align: center;
  margin:8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $mainColorThree;
}

.itemLink {
  text-align: center;
  margin:12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $mainColor;
  padding:1em;
}

.link {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $mainColor;
  display:inline-block;
}

  