
// color schema
$mainColor: #55C2C3; 
$mainColorTwo:#0C243C;
$mainColorThree:#110022;
$mainColorFour:#7E8C9C;
$mainColorFive:#C9D1D5;

// fonts
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Mono', monospace;

$width: 768px;

$margin: 0;
$overflow-x: hidden;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


